<div class="project" ref="container">

  <div class="project__container">

    <div class="project__titleContainer">
      <div class="project__back">BACK</div>
      <div class="project__title">Orange Customer</div>
      <div class="project__scroll"></div>
    </div>

    <div class="project__firstContainer">

      <div class="project__client">

        <h3 class="project__clientTitle project__category">CLIENT</h3>

        <h2 class="project__clientName" ref="projectName">Orange customer</h2>

        <div class="project__clientVisit">VISITER LE SITE WEB</div>

      </div>

      <div class="project__pitch">

        <h3 class="project__pitchTitle project__category">PITCH</h3>

        <div class="project__pitchDescription" ref="projectDescription">Bla bla blaaaa</div>

      </div>

      <div class="project__aside">

        <div class="project__role">

          <h3 class="project__roleTitle project__category">ROLE</h3>

          <div class="project__roleDescription" ref="projectRole">Bla bla blaaaa</div>

        </div>

        <div class="project__reward">

          <h3 class="project__rewardTitle project__category">REWARD</h3>

          <div class="project__rewardDescription" ref="projectReward">Bla bla blaaaa</div>

        </div>

      </div>

    </div>

    <div class="project__secondContainer"></div>

  </div>

</div>
