.project
  display none

.project__container
  background #191919
  color #ffffff

.project__padding
  height 100vh

.project__category
  font-family 'gotham-bold'
  font-size 2rem

.project__clientName
  font-family 'majesti-medium'
  font-size 10rem

.project__clientVisit
  font-family 'gotham-bold'
  font-size 2rem

.project__pitchDescription,
.project__roleDescription,
.project__rewardDescription
  font-family 'gotham-light'
  font-size 2.4rem
