<div class="project" ref="container">

  <div class="project__container">

    <div class="project__titleContainer" ref="projectTitleContainer">
      <!-- <div class="project__back">BACK</div> -->
      <div class="project__preview" ref="projectPreview"></div>
      <div class="project__title" ref="projectName">Orange Customer</div>
      <!-- <div class="project__scroll"></div> -->
    </div>

    <div class="project__sections">

      <div class="project__firstContainer">

        <div class="project__flexContainer project__firstFlex">

          <div class="project__date project__column">

            <h3 class="project__dateCategory project__category">DATE</h3>

            <h2 class="project__dateYear" ref="dateYear">Orange customer</h2>

            <div class="project__dateLink">Launch the video</div>

          </div>

          <div class="project__pitch project__column">

            <h3 class="project__pitchTitle project__category">PITCH</h3>

            <div class="project__pitchDescription" ref="projectDescription">Bla bla blaaaa</div>

          </div>

          <div class="project__team project__column">

            <h3 class="project__teamTitle project__category">TEAM</h3>

            <div class="project__teamDescription" ref="projectTeam">Bla bla blaaaa</div>

          </div>

          <div class="project__role project__column">

            <h3 class="project__roleTitle project__category">ROLE</h3>

            <div class="project__roleDescription" ref="projectRole">Bla bla blaaaa</div>

          </div>

        </div>

      </div>

      <div class="project__secondContainer" ref="projectSecondContainer">

      </div>

    </div>

  </div>

</div>
