<div class="about">

  <div class="about__title js-about__title">Hello I'm Célia Lopez, a 25 years old interactive designer</div>

  <div class="about__flex">
    <div class="about__contact">

      <div class="about__mailContainer">
        <div class="js-about__mail about__mail">Send me an email</div>
        <div class="js-about__line about__line"></div>
      </div>

      <div class="about__networks">
        <div class="about__network">
          <a class="js-about__twitter about__twitter" href="#">Twitter</a>
          <div class="js-about__line about__line"></div>
        </div>
        <div class="about__network">
          <a class="js-about__instagram about__instagram" href="#">Instagram</a>
          <div class="js-about__line about__line"></div>
        </div>
        <div class="about__network">
          <a class="js-about__vimeo about__vimeo" href="#">Vimeo</a>
          <div class="js-about__line about__line"></div>
        </div>
      </div>
    </div>

    <div class="about__description js-about__description">
      I'm a Gobelins student crazy about 3D stuff, in apprenticeship at DigitasLbi, working as freelancer on my free times.</br></br>
      I love transmit emotions with immersive content and make you travel. Yes I'm passionate about traveling so let's continue the journey together !
    </div>
  </div>

</div>
