@import '~stylesheets/common/global-imports';

.about {
  display: none;
  position: relative;
  z-index: $zindex-1;
  @include font-body();
  color: white;
  padding: 17rem 5.46875% 0 5.46875%;

  .about__title {
    @include font-title();
    font-style: italic;
    font-size: 11.6rem;
    line-height: 11.6rem;
    margin-bottom: 7rem;

    @media screen and (min-width: 1560px) {
      font-size: 16rem;
      line-height: 15.8rem;
    }

    @media screen and (max-width: 1125px) {
      font-size: 8rem;
      line-height: 8rem;
    }
  }

  .about__title,
  .about__mail,
  .about__twitter,
  .about__instagram,
  .about__vimeo,
  .about__description {
    opacity: 0;
    transform-origin: center top;
  }

  .about__flex {
    display: flex;
  }

  .about__contact,
  .about__description {
    width: 50%;
  }

  .about__contact {
    display: flex;
  }

  .about__mailContainer,
  .about__networks {
    width: 50%;
  }

  .about__network {
    margin-bottom: 3.5rem;
  }

  .about__network:last-child {
    margin-bottom: 0;
  }

  .about__network a {
    color: white;
    display: block;
    text-decoration: none;
  }

  .about__lines {
    overflow: hidden;
    height: 0.1rem;
    width: 5.5rem;
    position: relative;
    top: 5px;
    transform-origin: left center;
  }

  .about__line {
    background: white;
    height: 0.1rem;
    width: 5.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left center;
  }

  // .about__line:last-child {
  //   transform: scale(0, 1);
  // }
}
