@import '~stylesheets/common/global-imports';

.about {
  display: none;
  position: relative;
  z-index: $zindex-1;
  @include font-body();
  color: white;
  padding: 17rem 5.46875% 0 5.46875%;
  margin-bottom: 10rem;

  .about__title {
    @include font-about();
    font-size: 10rem;
    line-height: 11rem;
    margin-bottom: 7rem;

    @media screen and (max-width: 1450px) {
      font-size: 8rem;
      line-height: 9rem;
    }
  }

    .about__title-mention {
      @include font-description();
      display: block;
      line-height: 1;
      margin-top: 1rem;
      font-size: 10rem;
      position: relative;
      padding-left: 13.4rem;

      @media screen and (max-width: 1500px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 1200px) {
        font-size: 6rem;
      }

      &::before {
        content: "";
        display: inline-block;
        background: white;
        width: 13.4rem;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        transform: translate3d(-13.4rem, -50%, 0);
      }
    }

  .about__title,
  .about__mail,
  .about__twitter,
  .about__instagram,
  .about__behance,
  .about__shop,
  .about__patreon,
  .about__description {
    opacity: 0;
    transform-origin: center top;
    display: inline-block;
  }

  .about__flex {
    display: flex;
  }

  .about__contact,
  .about__description {
    width: 100%;
  }

    .about__description a {
      text-decoration: none;
      color: white;
      opacity: 0.5;
      transition: opacity 0.25s ease-out;

      &:hover {
        opacity: 1;
      }
    }

  .about__contact {
    display: flex;
  }

  .about__mailContainer {
    width: 25%;
  }

  .about__networks {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }

  .about__network {
    margin-bottom: 2.5rem;

    &:nth-child(odd) {
      width: 25%;
    }

    &:nth-child(even) {
      width: 75%;
    }
  }

  .about__network:last-child {
    margin-bottom: 0;
  }

  .about__network a,
  .about__mail a {
    color: white;
    display: block;
    text-decoration: none;
  }

  .about__lines {
    overflow: hidden;
    height: 0.1rem;
    width: 5.5rem;
    position: relative;
    top: 5px;
    transform-origin: left center;
  }

  .about__line {
    background: white;
    height: 0.1rem;
    width: 5.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left center;
  }

  .about__mathis {
    // margin-bottom: 10rem;
    margin-top: 4.6rem;
    opacity: 0;
  }

    .about__mathis a, {
      text-decoration: none;
      color: white;
      opacity: 0.5;
      transition: opacity 0.25s ease-out;

      &:hover {
        opacity: 1;
      }
    }

  // .about__line:last-child {
  //   transform: scale(0, 1);
  // }
}
