@import '~stylesheets/mobile/mobile-global-imports';

html.mobile {
  .home__menu {
    display: none;
    @include font-bold();
    font-size: 1.5rem;
    letter-spacing: 0rem;
    color: 0;
    color: white;
    padding: 3.3rem 5rem 0;

    @media screen and (max-width: 320px) {
      font-size: 1.3rem;
    }
  }

  .home__right {
    float: right;
  }

    .home__menuAbout,
    .home__menuProject,
    .home__menuEveryday {
      color: #5e5e5e;
      transition: color 0.25s;

      &.is-active {
        color: #ffffff;
      }
    }

    .home__menuSeparator {
      margin: 0 1rem;
      color: #5e5e5e;

      &.is-active {
        color: #ffffff;
      }

      @media screen and (max-width: 320px) {
        margin: 0 0.5rem;
      }
    }
}
