@import '~stylesheets/common/global-imports';

.everyday {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: $zindex-1;

  .everyday__item {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 25vh;
  }
}
