@import '~stylesheets/common/global-imports';

.project {
  display: none;
  position: relative;
  opacity: 0;
  z-index: $zindex-1;
}

.project__back {
  position: absolute;
  right: 70px;
  top: 70px;
}

.project__container {
  color: #ffffff;
  background: #313234;
  padding-bottom: 50rem;
}

.project__closeContainer {
  opacity: 0.5;
  position: fixed;
  right: 1rem;
  top: 1rem;
  height: 12rem;
  width: 12rem;
  z-index: $zindex-2;
}

.project__close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  pointer-events: none;

  .project__closeLine {
    background: white;
    height: 0.1rem;
    width: 6rem;
    position: relative;
    top: 50%;
    transform-origin: center center;
    pointer-events: none;
  }

  .project__closeLine:first-child {
    transform: rotate(45deg);
  }

  .project__closeLine:last-child {
    transform: rotate(-45deg);
  }
}

.project__titleContainer {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: $zindex-1;
}

.project__previewContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.project__preview {
  height: 100%;
  // width: 48.671875%;
  // transform: translate3d(-50%, 0, 0);
  position: relative;
  z-index: $zindex-1;
}

  .project__preview img {
    display: block;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

.project__titleLayer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.project__scroll {
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  z-index: 100;

  html.tablet & {
    bottom: 100px;
  }
}

.project__keepScroll {
  position: fixed;
  bottom: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  opacity: 0;
  display: none;
  z-index: $zindex-2;
}

  .project__scrollLine {
    width: 1px;
    height: 50px;
    background: #fff;
    left: 50%;
    position: relative;
    top: 0;
  }

  .project__scrollText {
    @include font-body();
    color: #fff;
    margin-top: 20px;
  }

.project__sections {
  position: relative;
  padding-top: 13rem;
}

.project__subtitleContainer {
  padding: 0 7.46875%;
  margin-bottom: 9.5rem;
}

  .project__subtitle {
    @include font-about();
    font-size: 36.1rem;
    line-height: 1;
    margin-bottom: 17rem;
    opacity: 0;
    white-space: nowrap;

    @media screen and (max-width: 1300px) {
      font-size: 30rem;
    }

    @media screen and (max-width: 1100px) {
      font-size: 20rem;
    }
  }

.project__textContainer {
  display: flex;
  padding: 0 7.46875%;
  margin-bottom: 9.5rem;
  align-items: flex-end;
}

  .project__textContainer-left {
    padding-right: 3rem;
    width: 70%;
  }

    .project__resume {
      opacity: 0;
      font-weight: bold;
      font-size: 4rem;
      margin-bottom: 7rem;

      @media screen and (max-width: 1100px) {
        font-size: 2rem;
      }
    }

  .project__textContainer-right {
    @include font-subtitle();
    font-size: 3.71rem;
    text-align: right;
    line-height: 1.4;
    width: 30%;

    @media screen and (max-width: 1100px) {
      font-size: 1.71rem;
    }
  }

    .project__clientVisit {
      font-size: 2.5rem;
      margin: 0;
      padding-bottom: 1rem;
      opacity: 0;
      position: relative;

      @media screen and (max-width: 1100px) {
        font-size: 1.5rem;
      }
    }

      .project__clientVisitText {
        display: inline;
        position: relative;
      }

        .project__clientVisit a {
          text-decoration: none;
          color: white;
        }

  .project__description {
    @include font-subtitle();
    opacity: 0;
    font-size: 4rem;
    line-height: 1.4;

    @media screen and (max-width: 1100px) {
      font-size: 2rem;
    }
  }

.project__firstContainer {
  // height: 100vh;
  // min-height: 69.5rem;
  margin-bottom: 7rem;
  position: relative;
  width: 100%
}

// .project__firstFlex::before {
//   content: '';
//   display: block;
//   background: white;
//   width: 55px;
//   height: 1px;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   transform: translate3d(-50%, -50%, 0);
// }

.project__column {
  // padding: 0 5% 0 1.64%;
  width: 23.4375%;
}

.project__firstColumn {
  // padding: 0 6% 0 1.64%;
  padding-left: 7.46875%;
  width: 21.09375%;
}

.project__lastColumn {
  // padding: 0 6% 0 1.64%;
  padding-right: 7.46875%;
  width: 21.09375%;
}


.project__date {
  font-size: 3.71rem;
  margin: 0;
  margin-bottom: 5rem;

  @media screen and (max-width: 1100px) {
    font-size: 1.71rem;
  }
}

.project__content {
  opacity: 0;
}

.project__clientName {
  margin: 0 0 10rem 0;
  opacity: 0;
}

.about__lines {
  overflow: hidden;
  height: 0.1rem;
  width: 5.5rem;
  position: absolute;
  bottom: -4px  ;
  left: 0;
  transform-origin: left center;
}

.about__line {
  background: white;
  height: 0.1rem;
  width: 5.5rem;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left center;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.project__secondContainer {
  position: relative;
  width: 100%;
  opacity: 0;
}

.project__medias {
  padding: 0 7.46875%;
}

.project__media {
  margin-bottom: 13rem;
  // background: rgba(255, 255, 255, 0.1);
  // min-width: 40rem;
  min-height: 40rem;
}

.project__media:last-child {
  margin-bottom: 0;
}

  .project__media img {
    width: 100%;
    display: block;
  }

  .project__media video {
    display: block;
    width: 100%;
  }

.project__scale,
.project__titleLayer,
.project__titleOffset,
.project__previewOffset
 {
   will-change: transform;
}

.project__previewOffset {
  height: 100%;
}

// .project__scale, .project__scale img {
//   transform-origin: 0% 0% 0px !important;
// }
