<div class="project">

  <div class="project__container">

    <div class="js-project__closeContainer project__closeContainer">
      <div class="js-project__close project__close">
        <div class="project__closeLine"></div>
        <div class="project__closeLine"></div>
      </div>
    </div>

    <div class="js-project__titleContainer project__titleContainer">
      <div class="js-project__titleLayer project__titleLayer js-project__scale project__scale" data-scale="3"></div>

      <div class="project__previewContainer">
        <div class="js-project__title project__title">
          <div class="js-project__titleOffset project__titleOffset">
            Orange Customer
          </div>
        </div>
        <div class="js-project__preview project__preview js-project__scale project__scale" data-scale="1"></div>
      </div>

      <div class="project__scroll">
        <div class="project__scrollLine"></div>
        <div class="project__scrollText">scroll</div>
      </div>
    </div>

    <div class="js-project__sections project__sections">

      <div class="js-project__firstContainer project__firstContainer">

        <div class="project__subtitleContainer">
          <div class="js-project__subtitle project__subtitle">Orange</div>
          <div class="js-project__description project__description">blablabla</div>
        </div>

        <div class="project__flexContainer project__firstFlex">

          <div class="project__client project__column project__firstColumn">

            <h3 class="js-project__category project__category">DATE</h3>

            <h2 class="js-project__date project__date js-project__scale project__scale js-project__content project__content" data-scale="1">2016</h2>

            <div class="js-project__clientVisit project__clientVisit js-project__scale project__scale js-project__content project__content" data-scale="1">
              <div class="project__clientVisitText js-project__clientVisitText"></div>
              <div class="js-about__lines about__lines">
                <div class="js-about__line about__line"></div>
                <div class="js-about__line about__line"></div>
              </div>
            </div>

          </div>

          <div class="project__pitch project__column">

            <h3 class="project__pitchTitle js-project__category project__category">PITCH</h3>
            <div class="js-project__pitchDescription project__pitchDescription js-project__scale project__scale js-project__content project__content" data-scale="1">Bla bla blaaaa</div>

          </div>

          <div class="project__aside project__column">

            <div class="project__divider">
              <div class="project_team">
                <h3 class="project_teamTitle js-project__category project__category">TEAM</h3>
                <div class="js-project_teamDescription project_teamDescription js-project__scale project__scale js-project__content project__content" data-scale="1">Bla bla blaaaa</div>
              </div>
            </div>

          </div>

          <div class="project__role project__column project__lastColumn">

            <div class="project__divider">
              <h3 class="project__roleTitle js-project__category project__category">ROLE</h3>
              <div class="js-project__roleDescription project__roleDescription js-project__scale project__scale js-project__content project__content" data-scale="1">Bla bla blaaaa</div>
            </div>

          </div>

        </div>

      </div>

      <div class="js-project__secondContainer project__secondContainer">

        <!-- <div class="js-project__medias project__medias js-project__scale project__scale" data-scale="2"> -->
        <div class="js-project__medias project__medias" data-scale="2">

        </div>

      </div>

    </div>

  </div>

</div>
