// .webgl
//   background #000000
//   .css3d__element
//     cursor pointer
//     position relative
//     overflow hidden
//   .css3d__element:hover .css3d__image
//     transform scale(1.2)
//   .css3d__element .css3d__text
//     color #ffffff
//     font-weight 200
//     left 1rem
//     position absolute
//     top 50%
//     transform translate3d(0%, -50%, 0)
//   .css3d__element .css3d__title
//     font-size 4rem
//     font-weight 200
//     margin 0 0 1rem 0
//   .css3d__element .css3d__subtitle
//     font-size 2.5rem
//     font-weight 200
//     margin 0 0 0.5rem 0
//   .css3d__element .css3d__technologies
//     font-size 2.3rem
//     font-weight 200
//     margin 0
//   .css3d__element .css3d__image
//     display block
//     width 100%
//     transition transform 0.5s ease-out

.webgl
  left 0
  height 100vh
  position fixed
  top 0
  .webgl__projects
    display: none;
    color: #fff;
    font-family: 'majesti-light'
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  .webgl__projects-project
    white-space: nowrap;
    position: absolute;
    transform translate3d(-50%, 0, 0)
  .webgl__projects-title
    font-size: 13rem
    font-weight: 100
    margin 0 0 15px 0
  .webgl__projects-date
    font-family: 'gotham-light'
    font-size: 1.5rem
    margin 0 0 8px 0
  .webgl__projects-statut
    font-family: 'gotham-medium'
    font-size: 2rem
    margin 0
