<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Web starter</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="keywords" content="">

    <base href="/" >

    <!-- Favicon -->

    <!-- Facebook meta -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta name="description" content=""/>

    <!-- Twitter meta -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="/images/twitter.png">

    <!-- GOOGLE + Share -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">

    <link href="https://fonts.googleapis.com/css?family=Alegreya|Nunito:200" rel="stylesheet">
  </head>

  <body>

    <div class="svgs" style="display: none;">

      <svg class="fo svgs__title svgs__orange" data-fonts="majesti-light" xmlns="http://www.w3.org/2000/svg" style="position: relative;">
        <foreignObject>
            <div id="container">
                <span class="text">Rétrograph</span>
            </div>
        </foreignObject>
        <style>
          .svgs__title {
            font-family: "majesti-light";
            font-size: 19.4rem;
          }
        </style>
      </svg>

    </div>

    <div id="application">

    </div>

  </body>

</html>
