<div class="project">

  <div class="project__container">

    <div class="js-project__closeContainer project__closeContainer">
      <div class="js-project__close project__close">
        <div class="project__closeLine"></div>
        <div class="project__closeLine"></div>
      </div>
    </div>

    <div class="js-project__titleContainer project__titleContainer">
      <div class="js-project__titleLayer project__titleLayer js-project__scale project__scale" data-scale="3"></div>

      <div class="js-project__previewContainer project__previewContainer">
        <div class="js-project__preview project__preview js-project__scale project__scale" data-scale="1"></div>
      </div>

      <div class="project__scroll">
        <div class="project__scrollLine"></div>
        <div class="project__scrollText">scroll</div>
      </div>
    </div>

    <div class="js-project__sections project__sections">

      <div class="js-project__firstContainer project__firstContainer">

        <div class="project__subtitleContainer">
          <div class="js-project__subtitle project__subtitle">Orange</div>
        </div>

        <div class="project__textContainer">
          <div class="project__textContainer-left">
            <div class="js-project__resume project__resume">Resume</div>
            <div class="js-project__description project__description">blablabla</div>
          </div>
          <div class="project__textContainer-right">
            <div class="js-project_teamDescription project_teamDescription js-project__content project__content">Bla bla blaaaa
            </div>
            <h2 class="js-project__date project__date js-project__content project__content">2016</h2>
            <div
              class="js-project__clientVisit project__clientVisit js-project__scale project__scale js-project__content project__content"
              data-scale="1">
              <div class="project__clientVisitText js-project__clientVisitText">
                <a href="" target="_blank"></a>
                <div class="js-about__lines about__lines">
                  <div class="js-about__line about__line"></div>
                  <div class="js-about__line about__line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="js-project__secondContainer project__secondContainer">

        <!-- <div class="js-project__medias project__medias js-project__scale project__scale" data-scale="2"> -->
        <div class="js-project__medias project__medias" data-scale="2">

        </div>

      </div>

    </div>

  </div>

</div>
