@font-face
    font-family 'soleil-bold'
    src url('/fonts/soleil-bold.eot')
    src url('/fonts/soleil-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/soleil-bold.woff') format('woff'),
    url('/fonts/soleil-bold.ttf') format('truetype'),
    url('/fonts/soleil-bold.svg#soleilbold') format('svg')
    font-weight 400

@font-face
    font-family 'soleil-regular'
    src url('/fonts/soleil-regular.eot')
    src url('/fonts/soleil-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/soleil-regular.woff') format('woff'),
    url('/fonts/soleil-regular.ttf') format('truetype'),
    url('/fonts/soleil-regular.svg#soleilregular') format('svg')
    font-weight 200

@font-face
    font-family 'soleil-light'
    src url('/fonts/soleil-light.eot')
    src url('/fonts/soleil-light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/soleil-light.woff') format('woff'),
    url('/fonts/soleil-light.ttf') format('truetype'),
    url('/fonts/soleil-light.svg#soleillight') format('svg')
    font-weight 100

@font-face
    font-family 'majesti-light'
    src url('/fonts/majesti-banner-light.eot')
    src url('/fonts/majesti-banner-light.eot?#iefix') format('embedded-opentype'),url('/fonts/majesti-banner-light.woff') format('woff'),url('/fonts/majesti-banner-light.ttf') format('truetype'),url('/fonts/majesti-banner-light.svg#majesti_bannerlight') format('svg')
    font-weight 100
    font-style normal
    font-stretch normal

@font-face
    font-family 'majesti-medium'
    src url('/fonts/Majesti-Banner-MediumItalic.eot')
    src url('/fonts/Majesti-Banner-MediumItalic.eot?#iefix') format('embedded-opentype'),url('/fonts/Majesti-Banner-MediumItalic.woff') format('woff'),url('/fonts/Majesti-Banner-MediumItalic.ttf') format('truetype'),url('/fonts/Majesti-Banner-MediumItalic.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'gotham-light'
    src url('/fonts/Gotham-Light.eot')
    src url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Light.woff') format('woff'),url('/fonts/Gotham-Light.ttf') format('truetype'),url('/fonts/Gotham-Light.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'gotham-medium'
    src url('/fonts/Gotham-Medium.eot')
    src url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Medium.woff') format('woff'),url('/fonts/Gotham-Medium.ttf') format('truetype'),url('/fonts/Gotham-Medium.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'gotham-bold'
    src url('/fonts/Gotham-Bold.eot')
    src url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Bold.woff') format('woff'),url('/fonts/Gotham-Bold.ttf') format('truetype'),url('/fonts/Gotham-Bold.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal
