@charset 'UTF-8'

@import 'common/normalize'

@font-face
    font-family 'soleil-bold'
    src url('/fonts/soleil-bold.eot')
    src url('/fonts/soleil-bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/soleil-bold.woff') format('woff'),
    url('/fonts/soleil-bold.ttf') format('truetype'),
    url('/fonts/soleil-bold.svg#soleilbold') format('svg')
    font-weight 400

@font-face
    font-family 'majesti-light'
    src url('/fonts/Majesti-Banner-LightItalic.eot')
    src url('/fonts/Majesti-Banner-LightItalic.eot?#iefix') format('embedded-opentype'),url('/fonts/Majesti-Banner-LightItalic.woff') format('woff'),url('/fonts/Majesti-Banner-LightItalic.ttf') format('truetype'),url('/fonts/Majesti-Banner-LightItalic.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'majesti-medium'
    src url('/fonts/Majesti-Banner-MediumItalic.eot')
    src url('/fonts/Majesti-Banner-MediumItalic.eot?#iefix') format('embedded-opentype'),url('/fonts/Majesti-Banner-MediumItalic.woff') format('woff'),url('/fonts/Majesti-Banner-MediumItalic.ttf') format('truetype'),url('/fonts/Majesti-Banner-MediumItalic.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'gotham-light'
    src url('/fonts/Gotham-Light.eot')
    src url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Light.woff') format('woff'),url('/fonts/Gotham-Light.ttf') format('truetype'),url('/fonts/Gotham-Light.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'gotham-medium'
    src url('/fonts/Gotham-Medium.eot')
    src url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Medium.woff') format('woff'),url('/fonts/Gotham-Medium.ttf') format('truetype'),url('/fonts/Gotham-Medium.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal

@font-face
    font-family 'gotham-bold'
    src url('/fonts/Gotham-Bold.eot')
    src url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),url('/fonts/Gotham-Bold.woff') format('woff'),url('/fonts/Gotham-Bold.ttf') format('truetype'),url('/fonts/Gotham-Bold.svg#majesti_bannermedium_italic') format('svg')
    font-weight 400
    font-style normal
    font-stretch normal


font-smoothing()
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

font-bold()
  font-family 'soleil-bold'
  font-weight normal
  font-style normal
  font-smoothing()

html
  font-family: 'Nunito', sans-serif;
  font-size 62.5%
  font-weight 200
