@charset "utf-8";

@import "common/normalize";
@import "common/fontface";
@import "common/fonts";
@import "common/variables";

html {
  cursor: none;
  font-size: 62.5%;
  background: black;

  body {
    // min-width: 95rem;
  }

  #application {
    @include font-body();
    // cursor: none;

    a{
      cursor: none;
    }
  }
}
