font-smoothing()
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

font-bold()
  font-family 'soleil-bold'
  font-weight normal
  font-style normal
  font-smoothing()

font-title()
  font-family 'majesti-light'
  font-size 11.684rem
  font-smoothing()

font-subtitle()
  font-family 'soleil-light'
  font-size 1.352rem
  font-smoothing()

font-body()
  font-family 'soleil-regular'
  font-size 1.623rem
  font-smoothing()
