@charset "utf-8";

@import "common/normalize";
@import "common/fontface";
@import "mobile/mobile_fonts";
@import "common/variables";

html.mobile {
  font-size: 62.5%;
  background: black;

  body {
    // min-width: 95rem;
    // height: 100;
    // position: relative;
  }

  #application {
    @include font-body();
    cursor: none;

    a{
      cursor: none;
    }
  }
}
