// Font configuration
// ------------------

@mixin fontSmoothing() {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// Font faces
// ----------

$fallbackFonts: Helvetica, Arial, sans-serif;

@mixin font-bold() {
    font-family: 'soleil', $fallbackFonts;
    font-weight: 600;
    font-size: 1rem;
    @include fontSmoothing();
}

@mixin font-title() {
    font-family: 'majesti', $fallbackFonts;
    font-weight: 300;
    font-size: 19.4rem;
    letter-spacing: 0rem;
    line-height: 17.8rem;
    @include fontSmoothing();
}

@mixin font-title-italic() {
    font-family: 'majesti', $fallbackFonts;
    font-weight: 500;
    font-size: 19.4rem;
    letter-spacing: 0rem;
    line-height: 17.8rem;
    @include fontSmoothing();
}

@mixin font-subtitle() {
    font-family: 'soleil', $fallbackFonts;
    font-weight: 300;
    font-size: 1.352rem;
    letter-spacing: 0rem;
    line-height: 0.8rem;
    @include fontSmoothing();
}

@mixin font-description() {
    font-family: 'soleil-italic', $fallbackFonts;
    font-weight: 300;
    font-size: 1.623rem;
    letter-spacing: 0.15rem;
    line-height: 1.6rem;
    @include fontSmoothing();
}

@mixin font-body() {
    font-family: 'soleil', $fallbackFonts;
    font-weight: 400;
    font-size: 1.623rem;
    line-height: 2.4rem;
    @include fontSmoothing();
}
