// Soleil ------

@font-face {
  font-family: 'soleil';
  src: url('/fonts/soleil-bold.eot');
  src: url('/fonts/soleil-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/soleil-bold.woff') format('woff'),
       url('/fonts/soleil-bold.ttf') format('truetype'),
       url('/fonts/soleil-bold.svg#soleilbold') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'soleil';
  src: url('/fonts/soleil-regular.eot');
  src: url('/fonts/soleil-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/soleil-regular.woff') format('woff'),
       url('/fonts/soleil-regular.ttf') format('truetype'),
       url('/fonts/soleil-regular.svg#soleilregular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'soleil';
  src: url('/fonts/soleil-light.eot');
  src: url('/fonts/soleil-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/soleil-light.woff') format('woff'),
       url('/fonts/soleil-light.ttf') format('truetype'),
       url('/fonts/soleil-light.svg#soleillight') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'soleil-italic';
  src: url('/fonts/soleil-light-italic.eot');
  src: url('/fonts/soleil-light-italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/soleil-light-italic.woff') format('woff'),
       url('/fonts/soleil-light-italic.ttf') format('truetype'),
       url('/fonts/soleil-light-italic.svg#soleillight_italic') format('svg');
  font-weight: 300;
}

// Majesti ------

@font-face {
  font-family: 'majesti';
  src: url('/fonts/Majesti-Banner-MediumItalic.eot');
  src: url('/fonts/Majesti-Banner-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Majesti-Banner-MediumItalic.woff') format('woff'),
       url('/fonts/Majesti-Banner-MediumItalic.ttf') format('truetype'),
       url('/fonts/Majesti-Banner-MediumItalic.svg#majesti_bannermedium_italic') format('svg');
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'majesti';
  src: url('/fonts/majesti-banner-light.eot');
  src: url('/fonts/majesti-banner-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/majesti-banner-light.woff') format('woff'),
       url('/fonts/majesti-banner-light.ttf') format('truetype'),
       url('/fonts/majesti-banner-light.svg#majesti_bannerlight') format('svg');
  font-weight: 300;
  font-stretch: normal;
}

// Gotham ------

@font-face {
  font-family: 'gotham';
  src: url('/fonts/Gotham-Bold.eot');
  src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Gotham-Bold.woff') format('woff'),
       url('/fonts/Gotham-Bold.ttf') format('truetype'),
       url('/fonts/Gotham-Bold.svg#gotham_bold') format('svg');
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('/fonts/Gotham-Medium.eot');
  src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Gotham-Medium.woff') format('woff'),
       url('/fonts/Gotham-Medium.ttf') format('truetype'),
       url('/fonts/Gotham-Medium.svg#gotham_medium') format('svg');
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Gotham-Light.woff') format('woff'),
       url('/fonts/Gotham-Light.ttf') format('truetype'),
       url('/fonts/Gotham-Light.svg#gotham_light') format('svg');
  font-weight: 300;
  font-stretch: normal;
}
