@import '~stylesheets/common/global-imports';

.loader{
  background: black;
  color: white;
  font-size: 5rem;

  left: 0;
  position: fixed;
  top: 0;
  z-index: 9999;

  height: 100vh;
  width: 100vw;

  .loader__container {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .loader__value {
    @include font-title();
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 150%);
  }

  .loader__text {
    @include font-body();
    display: none;
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 10rem;
    text-align: center;
    transform: translate(-50%, 0);
    font-size: 1.3rem;
  }
}
